@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600;700;800&display=swap');

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(106, 9, 231, 0.302);
    border-radius: 8px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(247, 18, 189, 0.5);
  }
  body {
    font-family: 'Baloo Thambi 2', cursive;
    text-rendering: optimizeLegibility;
  }